@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --barlow: 'Barlow Condensed', sans-serif;
    --bellefair: 'Bellefair', serif;

    /* colors */
    --dark: #0B0D17;
    --blue: #d0d6f9;
    --white: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--barlow);
    background-color: var(--dark);
    color: white;

    overflow: hidden;

    height: 100vh;
    width: 100vw;
}
button{
    cursor: pointer;
}

a{
    text-decoration: none;
    list-style: none;
}











/*------------- HEADER ----------*/

.navbarholder img{
    max-height: 1.6rem;
}

.header{
    position: sticky;
    z-index: 99;
}

/* header */
.header .navbarholder{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1.3rem 2rem;
    background: transparent;
}
.navbarholder .logo{
    max-height: 2.3rem;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    position: absolute;
    top: 0;
    right: -65%;

    height: 100vh;
    width: 65%;
    padding: 8rem 2rem;
    margin: 0;


    background-color: #ffffff15;
    backdrop-filter: blur(3rem);
    transition: all .26s ease-in-out;
}
.navbar.activeNav{
    right: 0%;
    transition: all .26s ease-in-out;
}



.btn button, button.navCloseBtn{
    background: none;
    outline: transparent;
    border: none;
}

.navCloseBtn{
    position: absolute;
    top: 2rem;
    right: 2rem;
}


.navbar li{
    list-style: none;
    transition: all .21s ease-in-out;
    transform-origin: center;

    width: max-content;
    
    font-size: .9rem;
    letter-spacing: 3.1px;
    text-transform: uppercase;
    color: white;

    position: relative;
}

.navbar li.activePage::after{
    content: "";
    height: 2px;
    width: 100%;
    
    background-color: #fff;
    
    position: absolute;
    top: 1rem;
    left: 0;

}


.navbar li:hover::after{
    content: "";
    height: 2px;
    width: 100%;
    
    background-color: #ffffff7b;
    
    position: absolute;
    top: 1.5rem;
    left: 0;
}

.none{
    display: none;
}




@media (min-width:740px) {

    .header button, .btn{
        display: none;
        visibility: hidden;
    }

    
    .header .navbarholder {
        display: flex;
        justify-content: space-between;

        padding: 0rem 0rem 0 2rem;
    }
    
    .navbar{
        flex-direction: row;
        justify-content: center;
        align-self: flex-end;
        
        position: static;
        
        padding: 2rem 1rem;

        height: auto;
        width: auto;
    }

    .navbar li strong{
        display: none;
    }

    .navbar li.activePage::after{
        top: 2.9rem;
    }


    .navbar li:hover::after{
        top: 2.9rem;
    }

}


@media (min-width:1024px) {

    .header .navbarholder {
        padding: 2rem 0rem 0 3rem;
    }
        

    .header .navbar {
        padding: 2rem 7rem;
        gap: 2.6rem;
    }

    .header .navbar::after{
        content: "";
        position: absolute;
        top: 2.5rem;
        left: -26vw;

        background-color: rgba(255, 255, 255, 0.245);
        height: 1.1px;
        width: 28vw;

    }

    .navbar li strong{
        display: inline-block;
    }

}

@media (min-width:1200px) {

    .header .navbar {
        gap: 3.6rem;
        padding: 2rem 8rem;
    }

    .header .navbar::after{
        left: -31vw;
        width: 33vw;
    }



}














/*------------- HOME --------------*/

main{
    height: 100%;

    background-image: url("/starter-code/assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


section{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
    text-align: center;
    padding: 2rem;
}

.home{

    text-transform:uppercase;

    position: relative;
}

.home .homeText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.home .headingText{
    text-transform: uppercase;
    letter-spacing: 4.75px;
    font-size: 1rem;
    color: var(--blue);
}

.home h1{
    margin: 0;
    font-family: var(--bellefair);
    font-weight: 200;
    font-size: clamp(5rem, 7vw, 8rem);
}

.home p{
    color: var(--blue);
    font-size: .9rem;
    line-height: 1.6rem;
    letter-spacing: 2px;
    text-transform: lowercase;

}




button.explore{
    margin-top: 3.6rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: none;

    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: var(--bellefair);

    position: relative;
}



button.explore:hover::after{
    content: "";
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    background-color: #ffffff26;
    
    position: absolute;
    inset: -2.5rem;
    
    transition: all .3s ease-in-out;
}




@media (min-width:740px) {
    
    .main{
        background-image: url('/starter-code/assets/home/background-home-desktop.jpg');
        background-position: right;

    }
    
    .home{
        padding-inline: 6rem;
        flex-direction: row;
        text-align: left;
        
        gap: 13rem;
    }
}

@media (min-width:1024px) {
    
    .home{
        padding-inline: 9rem;
    }

    button.explore{
        height: 10rem;
        width: 10rem;
    }

    button.explore:hover::after{
        height: 16rem;
        width: 16rem;
        inset: -3rem;
    }



}


@media (min-width:1200px){

    .home{
        gap: 21rem;
        padding-inline: 13rem;
    }


}
